@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --blue-lightest: #E3F2FD;
    --blue-light: #64B5F6;
    --blue: #2196F3;
    --blue-dark: #1E3A8A;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

header {
    position: relative;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--blue-dark);
    font-family: inherit;
    height: 30hv;
    box-sizing: border-box;
}

header .header-wrapper {
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex-grow: 1;
    justify-content: space-between;
    color: #fff;
}

nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
    display: flex;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    list-style-type: none;
}

header a {
    color: #fff;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    padding: 10px 20px;
}

header a:hover {
    background-color: #2196F3;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--blue-lightest);
    max-height: 150vh;
    height: 150vh;
}

main h1 {
    text-align: center;
    margin-top: 20vh;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    padding: 20px;
    background-color: var(--blue-dark);
    position: relative;
    bottom: 100px;
}

.affiche {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: var(--blue-dark);
    font-size: 1em;
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #fff;
    flex-direction: column;
}

.affiche p {
    position: relative;
    display: flex;
    margin-bottom: 50px;
    padding: 20px;
    color: #fff;
    font-size: 1.2em;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 1.5;
    transition: all 0.5s ease;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    overflow: hidden;
}

.categoriesicons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease, color 1s ease;
    cursor: pointer;
}

.svg img {
    max-width: 70%;
    height: auto;
    transition: all 0.5s ease;
}

.svg p {
    margin-top: 10px;
    color: var(--blue-dark);
    transition: color 0.3s ease;
}

.svg:hover {
    color: var(--blue-dark);
    transform: scale(1.1);
}

.svg:hover img {
    filter: brightness(1.2);
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 2em;
}

#nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#nav-list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: var(--blue-dark);
    padding: 10px;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    header .header-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    nav ul li {
        padding: 10px;
        width: 100%;
    }

    .hamburger {
        display: block;
    }

    .affiche {
        height: 60vh;
    }

    .affiche h1, .affiche p {
        text-align: center;
        margin-top: 0;
        font-size: 1.5em;
    }
}

.section {
    display: flex;
    box-sizing: border-box;
    height: 200vh;
    width: auto;
    background-color: #1E3A8A;
    margin-top: 50px;
    max-height: 300vh;
}

.information {
    box-sizing: border-box;
    display: flex;
    padding: 50px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.information p {
    max-width: 800px;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    padding: 20px;
    max-height:100vh;
    padding: 20px;
}

.information img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0, 0.3);
    flex: 1;
}

@media (max-width: 768px) {
    .information {
        flex-direction: column;
        align-items: center;
    }
    
    .information p {
        font-size: 1.5em;
        text-align: center;
    }

    .information img {
        max-width: 80%;
        margin: 20px 0;
    }
}

.slideshow-container {
    background: #1E3A8A;
    height: 200vh;
    position: relative;
    margin-top: 40px;
}

.numbertext img {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 

.mySlides {
    position: relative;
    margin-top: 50px;
    width: 100%; 
    height: 100%;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 20px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    bottom: 50px;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.aajouter{
    top: 350px;
    position: relative;
    height: 100vh;
    width: 100%;
    background:#1E3A8A;
}
/***********************footer*******************/
.footer {
    margin-top:250vh;
    position: relative;
    width: 100%;
    background:var(--blue-dark);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite ;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  